@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body header .navbar {
  padding: 0;
}
body header .navbar .container-fluid {
  background-color: #252729;
  padding: 10px;
  color: white;
}
body header .navbar .container-fluid .logo h1 {
  font-size: 40px;
  font-weight: bolder;
  padding: 25px 10px 10px 5px;
  margin: 0px 0px 0px 60px;
  color: white;
}
body header .navbar .container-fluid .navbar-nav {
  padding: 0px 10px 0px 200px;
}
body header .navbar .container-fluid .navbar-nav .nav-item {
  align-items: center;
  padding: 10px 5px 0px 60px;
}
body header .navbar .container-fluid .navbar-nav .nav-link {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
body header .navbar .container-fluid .navbar-nav .nav-link:hover {
  color: #FF8976;
}
body header .navbar .container-fluid .contact {
  background-color: #E7F5FE;
  border: 2px solid black;
  padding: 10px 20px 10px 20px;
  margin: 0px 60px 0px 0px;
  border-radius: 20px;
  color: #FF8976;
}
body header .navbar .container-fluid .contact:hover {
  background-color: #FF8976;
  color: white;
}
body .main {
  background-color: #E7F5FE;
}
body .main .first-div {
  flex: 6;
  align-items: center;
  display: block;
  justify-content: space-around;
  padding: 20px 30px 20px 30px;
}
body .main .first-div h1 {
  text-transform: capitalize;
  font-size: 60px;
  margin: 0px 0px 20px 0px;
}
body .main .first-div p {
  text-align: justify;
}
body .main .first-div .hire {
  color: #ffffff;
  background-color: #252729;
  width: 20%;
  height: 40px;
  margin: 20px 20px 30px 0px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
}
body .main .first-div .hire:hover {
  background-color: #FF8976;
}
body .main .first-div .color-heading {
  color: #FF8976;
}
body .main .first-div .datas {
  display: flex;
  flex-direction: row;
}
body .main .first-div .data {
  margin: 20px 50px 10px 0px;
}
body .main .first-div .data h2 {
  margin: 0px;
  color: #FF8976;
}
body .main .first-div .data p {
  display: flex;
  margin: 0px;
  font-size: 12px;
}
body .main .second-div {
  width: 70%;
  overflow: hidden;
}
body .main .second-div img {
  width: 100%;
  padding: 20px;
}
body .about-section {
  padding: 10px 150px;
}
body .about-section #section-heading {
  font-size: 40px;
  padding: 10px 5px 5px 5px;
  text-align: center;
}
body .about-section .abt {
  padding-top: 20px;
}
body .about-section .abt h2 {
  font-size: 24px;
  font-weight: bold;
}
body .about-section .abt p {
  font-size: 18px;
  text-align: justify;
}
body .about-section .contact {
  margin-top: 50px;
}
body .about-section .contact h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
body .about-section .contact p {
  font-size: 18px;
  margin: 0;
}
body .about-section .about-img {
  padding: 20px 0;
}
body .about-section .about-img img {
  width: 100%;
}
body .about-section .skill {
  padding: 20px 0px;
}
body .about-section .skill h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
body .about-section .skills {
  list-style-type: none;
  padding: 0;
}
body .about-section .skills li {
  font-size: 25px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
body .about-section .skills li .fa-square {
  font-size: 25px;
  margin-right: 10px;
  color: #FF8976;
}
body .social-media {
  background-color: #E7F5FE;
  padding: 40px 80px 40px 70px;
}
body .social-media #section-heading {
  font-size: 40px;
  padding: 10px 5px 40px 5px;
  text-align: center;
}
body .social-media .card {
  background-color: #FFFFFF;
  border-radius: 15px;
  width: 60%;
  padding: 10px;
  margin: 10px;
}
body .social-media .card .card-img-top {
  background-color: #D4C3C2;
  border-radius: 10px;
  width: 100%;
  padding: 10px 70px 10px 70px;
}
body .social-media .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .social-media .card .card-body .card-title {
  padding: 0px;
  margin: 5px;
  text-align: center;
}
body .social-media .card .card-body .card-title span {
  padding: 5px;
  color: #FF8976;
}
body .social-media .card .card-body .card-text {
  font-size: 15px;
  padding: 0px;
  margin: 5px 5px 10px 5px;
  text-align: center;
}
body .social-media .card .card-body .btn {
  background-color: #E7F5FE;
  border: 2px solid black;
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
  cursor: pointer;
  color: #FF8976;
}
body .social-media .card .card-body .btn:hover {
  background-color: #FF8976;
  color: #E7F5FE;
}
body .posts h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}
body .posts .post .btn {
  background-color: #E7F5FE;
  border: 2px solid black;
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
  cursor: pointer;
  color: #FF8976;
}
body .posts .post .btn:hover {
  background-color: #FF8976;
  color: #E7F5FE;
}
body .contact .btn {
  background-color: #E7F5FE;
  border: 2px solid black;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  color: #FF8976;
}
body .contact .btn:hover {
  background-color: #FF8976;
  color: #E7F5FE;
}
body footer {
  background-color: #252729;
  color: #ffffff;
  padding: 30px;
  margin-top: 30px;
}
body footer #fsocial-media {
  padding: 5px 5px 10px 0px;
}
body footer #fsocial-media li {
  list-style: none;
  display: inline;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
body footer #fsocial-media li a {
  text-decoration: none;
  font-size: 20px;
  color: #E7F5FE;
  border: 1px solid #F0F2F4;
  padding: 5px 10px;
}
body footer #fsocial-media li a .fa:hover {
  opacity: 0.7;
}
body footer .privacy h4 a {
  font-size: 15px;
  text-decoration: none;
  color: #E7F5FE;
}
body footer #arrow {
  margin: 0px 0px 0px 0px;
  padding: 15px 10px 15px 10px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0;
  }
  .navbar .container-fluid {
    background-color: #E7F5FE;
    padding: 20px;
  }
  .navbar .container-fluid .logo h1 {
    font-size: 40px;
    font-weight: bolder;
    padding: 10px 10px 10px 5px;
  }
  .navbar .container-fluid .navbar-nav {
    padding: 0px 10px 0px 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar .container-fluid .navbar-nav .nav-item {
    align-items: center;
    padding: 10px 5px 0px 10px;
  }
  .navbar .container-fluid .navbar-nav .nav-link {
    text-align: center;
    text-decoration: none;
    color: #575C72;
    font-size: 15px;
    font-weight: 500;
  }
  .navbar .container-fluid .navbar-nav .nav-link:hover {
    color: #FF8976;
  }
  .navbar .container-fluid .contact {
    margin-left: 200px !important;
    margin-top: 20px !important;
  }
  .navbar .container-fluid .contact:hover {
    background-color: #FF8976;
    color: white;
  }
  .main .first-div .hire {
    width: 50% !important;
  }
  .second-div {
    width: 100% !important;
    overflow: hidden;
  }
  .second-div img {
    width: 100%;
    padding: 20px;
  }
  .tech {
    display: flex;
    flex-direction: column !important;
    justify-content: space-around !important;
    align-items: center !important;
    border-top: 5px solid #FB8976;
    border-bottom: 5px solid #FB8976;
    position: relative;
    transform: rotate(0 deg) !important;
    padding: 8px 10px 8px 10px !important;
  }
  .skills {
    color: #E7F5FE;
  }
  .about-section {
    margin-top: 150px;
    padding: 10px 30px 10px 30px !important;
  }
  .social-media {
    padding: 40px 80px 60px 120px !important;
  }
  .social-media #section-heading {
    font-size: 40px;
    text-align: center;
  }
  .social-media .card {
    width: 80% !important;
  }
  .social-media .card .card-img-top {
    width: 100% !important;
  }
  .social-media .card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social-media .card .card-body .card-title {
    padding: 0px;
    margin: 5px;
    text-align: center;
  }
  .social-media .card .card-body .card-title span {
    padding: 5px;
    color: #FF8976;
  }
  .social-media .card .card-body .card-text {
    font-size: 15px;
    padding: 0px;
    margin: 5px 5px 10px 5px;
    text-align: center;
  }
  .social-media .card .card-body .btn {
    background-color: #E7F5FE;
    border: 2px solid black;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    color: #FF8976;
  }
  .posts {
    padding: 10px 50px 10px 50px;
  }
  .posts h1 {
    padding: 60px 5px 30px 5px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
  }
  .posts .featured-post {
    width: 100% !important;
    padding: 40px 10px 40px 10px !important;
  }
  .posts .featured-post img {
    width: 100%;
    border-radius: 20px !important;
  }
  .posts .featured-post .card-body .card-title {
    font-size: 22px !important;
  }
  .posts .featured-post .card-body .card-text {
    font-size: 18px !important;
    text-align: justify;
  }
  .posts .featured-post .card-body .time-views {
    display: flex;
  }
  .posts .featured-post .card-body .time {
    padding: 0px 20px 0px 0px;
  }
  .posts .featured-post .card-body .views {
    padding: 0px 20px 0px 0px;
  }
  .posts .others-post {
    padding: 10px 0px 10px 0px !important;
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    border: none;
  }
  .posts .others-post .post-img {
    width: 40% !important;
  }
  .posts .others-post .post-img .card-img-top {
    overflow: hidden;
    width: 100%;
    border-radius: 15px;
  }
  .posts .others-post .card-body {
    display: flex;
    flex-direction: column;
  }
  .posts .others-post .card-body .card-title {
    font-size: 20px;
  }
  .posts .others-post .card-body .time-views {
    display: flex;
    font-size: 12px;
  }
  .posts .others-post .card-body .time {
    padding: 0px 10px 0px 0px;
  }
  .posts .others-post .card-body .views {
    padding: 0px 0px 0px 10px;
  }
  footer {
    background-color: #252729;
    color: #ffffff;
    padding: 30px;
    margin-top: 30px;
  }
  footer .second-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  footer .second-grid h3 {
    padding: 30px 50px 5px 60px;
    margin: 0px 5px 5px 10px;
  }
  footer .second-grid .sgrid1 #fsocial-media {
    padding: 5px 5px 10px 60px;
    margin: 0px;
  }
  footer .second-grid .sgrid1 #fsocial-media li {
    padding: 10px;
    list-style: none;
    display: inline-block !important;
    flex-direction: row !important;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  footer .second-grid .sgrid1 #fsocial-media li a {
    text-decoration: none;
    font-size: 20px;
    color: #E7F5FE;
    border: 1px solid #F0F2F4;
    padding: 5px 10px;
  }
  footer .second-grid .sgrid1 #fsocial-media li a .fa:hover {
    opacity: 0.7;
  }
  footer .second-grid .sgrid2 {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  footer .second-grid .sgrid2 .privacy h4 a {
    font-size: 15px;
    text-decoration: none;
    color: #E7F5FE;
  }
  footer .second-grid .sgrid2 #arrow {
    margin: 30px 0px 0px 0px !important;
    padding: 15px 10px 15px 10px;
  }
}
@media (max-width: 576px) {
  .navbar {
    padding: 0;
  }
  .navbar .container-fluid {
    background-color: #E7F5FE;
    padding: 20px;
  }
  .navbar .container-fluid .logo h1 {
    font-size: 40px;
    font-weight: bolder;
    padding: 10px 10px 10px 5px;
    margin: 0 !important;
  }
  .navbar .container-fluid .navbar-nav {
    padding: 0px 10px 0px 10px !important;
  }
  .navbar .container-fluid .navbar-nav .nav-item {
    align-items: center;
    padding: 10px 5px 0px 10px !important;
    margin: 0 !important;
  }
  .navbar .container-fluid .navbar-nav .nav-link {
    text-align: center;
    text-decoration: none;
    color: #575C72;
    font-size: 15px;
    font-weight: 500;
  }
  .navbar .container-fluid .navbar-nav .nav-link:hover {
    color: #FF8976;
  }
  .navbar .container-fluid .contact {
    margin-left: 35% !important;
    margin-top: 20px !important;
  }
  .navbar .container-fluid .contact:hover {
    background-color: #FF8976;
    color: white;
  }
  .navbar .main .first-div .hire {
    width: 100% !important;
    margin-left: 200px;
  }
  .main .first-div .hire {
    width: 50% !important;
  }
  .about-section {
    padding: 10px 30px 10px 30px !important;
  }
  .social-media {
    background-color: #E7F5FE;
    padding: 10px 20px 20px 20px !important;
  }
  .social-media #section-heading {
    padding: 30px 0px 30px 0px !important;
  }
  .social-media .card {
    margin-left: 70px !important;
    width: 60% !important;
  }
}
/* Admin Panel Custom CSS for sidebar */
/* Update your CSS with Bootstrap classes *//*# sourceMappingURL=index.css.map */